

<div class="table">
    <table>
        <tr>
          <th>Bus</th>
          <th>Destination</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Speed (mph)</th>
          <th>Distance (mi)</th>
        </tr>
        <tr>
          <td>Bus</td>
          <td>Destination</td>
          <td>Latitude</td>
          <td>Longitude</td>
          <td>Speed (mph)</td>
          <td>Distance (mi)</td>

        </tr>
        <tr>
            <td>Bus</td>
            <td>Destination</td>
            <td>Latitude</td>
            <td>Longitude</td>
            <td>Speed (mph)</td>
            <td>Distance (mi)</td>
        </tr>
        <tr>
            <td>Bus</td>
            <td>Destination</td>
            <td>Latitude</td>
            <td>Longitude</td>
            <td>Speed (mph)</td>
            <td>Distance (mi)</td>
        </tr>
        <tr>
            <td>Bus</td>
            <td>Destination</td>
            <td>Latitude</td>
            <td>Longitude</td>
            <td>Speed (mph)</td>
            <td>Distance (mi)</td>
      </tr>
      </table>
    
    </div>